<%=flash[:notice]%>

<h3>Please make your bookmark fab!</h3>
<form action="/bookmarks/<%= @id %>/edit" method="post">
  <input type='hidden' name='_method' value='PUT'/>
  <input type='hidden' name='id' value='<%= @id %>'>
  <p>Title:</p>
  <input type="text" name="title" />
  <p>Url:</p>
  <input type="text" name="url" />
  <input type="submit" value="Submit" />
</form>
