<h3>Please submit the new entry</h3>
<form action="/bookmarks" method="post">
  <p>Title:</p>
  <input type="text" name="title" />
  <p>Url:</p>
  <input type="text" name="url" />
  <input type="submit" value="Submit" />
</form>
